/*Body*/
html {
    background: #42cdc9;
    background: url('background.png');
    background-repeat: no-repeat;
    background-position: center;
}

body.container {
    background: transparent;
}

.mainCont {
    float: left;
    width: 100%;
    padding: 10px;
    font-family: cursive;
    color: white;
    background: rgba(0, 0, 0, 0.2);
}

    .mainCont > h2 {
        width: 100%;
        float: left;
        text-align: center;
    }

/*Add Player*/
.options {
    float: left;
    width: 100%;
    position: relative;
}

.newPlayer, .clearAll {
    float: right;
    margin-left: 10px;
    padding: 3px 10px;
}

.addPlayers {
    width: 300px;
    background-image: linear-gradient(to bottom right, #5904ca, #9333f5);
    padding: 10px;
    position: absolute;
    right: 0;
    top: 35px;
    display: none;
}

    .addPlayers > div {
        float: left;
        width: 100%;
    }

/*Player List*/
.playersList {
    float: left;
    width: 100%;
    margin: 10px 0;
}

    .playersList > div {
        float: left;
        border: 1px solid #18c53e;
        padding: 2px;
        margin-right: 5px;
    }

        .playersList > div * {
            float: left;
            margin: 0 10px 0 0;
            padding: 0 5px;
        }

        .playersList > div .btn-danger {
            font-size: 11px;
            margin-top: 2px;
            margin-right: 0;
        }

/*Current Game Score*/
.currentGame {
    float: left;
    width: 100%;
    background: rgba(9, 18, 142, 0.4117647058823529);
    padding: 5px;
    display: none;
}

    .currentGame > h4 {
        text-align: center;
        margin: 0;
        padding: 5px 0;
        background: #0a8c7563;
        margin-bottom: 5px;
    }

        .currentGame > h4 img {
            width: 20px;
            margin-right: 10px;
        }

    .currentGame > div {
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }

        .currentGame > div * {
            float: left;
            margin: 0 10px 0 0;
            width: auto;
            padding: 7px;
        }

.currentPlayer {
    min-width: 85px;
}

/*Game Play*/
table.showProgress td.incorrect {
    background: #ff4e4e;
}

table.showProgress td.correct {
    background: #0bc10b;
}
table.showProgress  td.correct.bonus {
    background: #8d30c5;
}
table.showProgress th {
    background: #454845;
}

table.showProgress td,
table.showProgress th {
    border: 1px solid;
    padding: 5px;
}

.finalResults {
    float: left;
    width: 100%;
    background: #ff7a05;
    text-align: center;
    display: none;
}

    .finalResults > div {
        float: left;
    }

    .finalResults p {
        margin: 0;
        padding: 2px 5px;
        border: 1px solid #ce6000;
    }
